@using LyyCMS.Web.Startup
@using LyyCMS.Web.Models.Users
@model UserListViewModel
@{ ViewBag.Title = L("Users");
    ViewBag.CurrentPageName = PageNames.Users; }
@section scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/Users/Index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Users/Index.min.js" asp-append-version="true"></script>
    </environment>
    <script charset="utf-8" src="~/kindeditor/kindeditor-all.js"></script>
    <script charset="utf-8" src="~/kindeditor/lang/zh-CN.js"></script>
    <script>
        KindEditor.ready(function (K) {
            window.editor = K.create('#editor_id', {
                cssPath: '/kindeditor/plugins/code/prettify.css',
                uploadJson: 'upload/Kind?Title=qqq&ContextId=1',
                fileManagerJson: '@Url.Action("KindFileManager", "Upload")',
                //fileManagerJson: '../asp.net/file_manager_json.ashx',
                allowFileManager: true,
            });
        });
    </script>

    <script src="~/ueditor-1.4.3.3/ueditor.config.js"></script>
    <script src="~/ueditor-1.4.3.3/ueditor.all.min.js"></script>
    <script src="~/ueditor-1.4.3.3/lang/zh-cn/zh-cn.js"></script>
    <script type="text/javascript">
        $(function () {
            var editor = UE.getEditor('container', {
                serverUrl: 'upload/new',
                //serverUrl: 'api/ueditor/do',
                initialFrameWidth: '100%',
                initialFrameHeight: 350,
                toolbars: [[
                    'fullscreen', 'source', '|', 'undo', 'redo', '|',
                    'bold', 'italic', 'underline', 'strikethrough', 'removeformat', 'pasteplain', '|', 'forecolor', 'insertorderedlist', 'insertunorderedlist', '|',
                    'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', '|',
                    'link', 'unlink', 'anchor'
                ]]
            });
        })
            //var ue = UE.getEditor('container', {
            //    initialFrameHeight: 300,
            //    initialFrameWidth: 300
            //});
            //UE.Editor.prototype._bkGetActionUrl = UE.Editor.prototype.getActionUrl;
            //UE.Editor.prototype.getActionUrl = function (action) {
            //    if (action == "uploadimage") {
            //        return "upload/new";
            //    } else {
            //        return this._bkGetActionUrl.call(this, action);
            //    }
            //}


    </script>
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1>@L("Users")</h1>
            </div>
            <div class="col-sm-6">
                <a href="javascript:;" data-toggle="modal" data-target="#UserCreateModal" class="btn bg-blue float-sm-right">
                    <i class="fa fa-plus-square"></i>
                    @L("Create")
                </a>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <!--Use for bulk actions-->
                            </div>
                            <div class="col-md-6">
                                @await Html.PartialAsync("~/Views/Users/Index.AdvancedSearch.cshtml")
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="UsersTable" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>@L("UserName")</th>
                                        <th>@L("FullName")</th>
                                        <th>@L("EmailAddress")</th>
                                        <th>@L("FaceImg")</th>
                                        <th>@L("IsActive")</th>
                                        <th style="width: 150px">@L("Actions")</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@await Html.PartialAsync("~/Views/Users/_CreateModal.cshtml", Model)

<div class="modal fade" id="UserEditModal" tabindex="-1" role="dialog" aria-labelledby="UserEditModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
