@using LyyCMS.Web.Models.Slide
@using LyyCMS.Web.Models.Common.Modals
@model EditSlideModalViewModel
@{ Layout = null; }
@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EditSlide")))
<form name="RoleEditForm" role="form" class="form-horizontal">
    <input type="hidden" name="Id" value="@Model.Slide.Id" />
    <div class="modal-body">
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="slideName">@L("Name")</label>
            <div class="col-md-9">
                <input id="rolename" class="form-control" type="text" name="Name" value="@Model.Slide.name" required maxlength="32" minlength="2">
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="remark">@L("Remark")</label>
            <div class="col-md-9">
                <input id="remark" type="text" class="form-control" name="Remark" value="@Model.Slide.remark" required maxlength="32" minlength="2">
            </div>
        </div>
        

    </div>
    @await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
</form>

<script src="~/view-resources/Views/Slide/_EditModal.js" asp-append-version="true"></script>
